// ---------------------------------------
// responsive
// ---------------------------------------
$sp:  425px;
$tab: 768px;


@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}


@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}

// ---------------------------------------
// 変数宣言
// ---------------------------------------
$header-height: 80px;             //ヘッダー高さ
$sp-header-height: 50px;          //ヘッダー高さ（スマホ）
$sp-header-width: 280px;          //ヘッダー幅（スマホ）
$section-padding: 100px;          //セクション間のpadding
$sp-section-padding: 70px;        //セクション間のpadding（スマホ）

$base-color: #FFFEF2;           //ベースカラー
$main-color: #E4E9EF;           //メインカラー
$accent-color: #2E4F88;         //アクセントカラー
$font-color: #333333;           //フォントカラー

$contact-color: #02C300;        //コンタクトカラー
$line-color: #7E7E7E;           //ラインカラー

// ---------------------------------------
// 関数
// ---------------------------------------
// ＋の絶対値を-で返却する
@function reverse-sign($value) {
    @return -$value;
}



// ---------------------------------------
// z-index 管理
// ---------------------------------------

// ---------------------------------------

