@use '_mixin' as m;

.read-text {
    height: 70vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 2%;
    position: relative;

    @include m.sp {
        gap: 10px;
    }

    .img-wrap {
        position: relative;
        z-index: 1;

        img {
            width: 100px;
            object-fit: cover;
        }

        // 声の吹き出し
        &::before,
        &::after {
            content: "";
            position: absolute;
            right: -50%;
            height: 3px;
            width: 50px;
            background-color: m.$line-color;
        }
        &::before {
            top: -30%;
            transform: rotate(-45deg);
        }
        &::after {
            bottom: -30%;
            transform: rotate(45deg);
        }
    }
    p {
        font-size: clamp(1rem, 2.5vw, 2.5rem);
        font-weight: bold;
        white-space: nowrap;
        line-height: 250%;
        position: relative;
        z-index: 1;

        @include m.tab {
            font-size: clamp(0.8rem, 4vw, 1.8rem);
        }

        .sp-br {
            display: none; // PCでは消す
            @include m.tab {
                display: inline; // SPで改行
            }
        }
        .line {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: -20px;
                left: 0;
                width: 100%;
                height: 7px;
                background-color: m.$accent-color;

                @include m.sp {
                    bottom: -10px;
                }
            }
        }
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.2;
        height: 40vh;
        object-fit: contain;
        z-index: 0;
    }
}